footer{
    text-align: center;
    
}
div{
    text-align: right;
    font-size: large;
    font-weight: bold;
    
}

#cro{
    background-image: url("paste.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
}
#me{
    text-align: center;
    color: white;
    margin: 40px;

}
button{
    text-align: center;
    padding: 5px;
    border: 5px dashed grey;
    margin-left: 1066px;
    max-width: 100%;
    border-left: 0px;
    border-right: 0px;
    color: black;
}
#come{
    color:grey
}